{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" ng-app="dreamhack">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{% static 'sprancher/favicon.ico' %}">
    <title>Dreamhack challenge - Sprancher</title>

    <link href="{% static 'bootstrap-3.3.5-dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'ng-tags-input/ng-tags-input.min.css' %}" rel="stylesheet">
    <link href="{% static 'ng-tags-input/ng-tags-input.bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'dreamhack.css' %}" rel="stylesheet">
  </head>
  <body ng-controller="mainCtrl">
    <div class="container-fluid visible-sm visible-xs">
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
          <div class="panel panel-warning">
            <div class="panel-heading"><h1>This site is made for bigger screens only :(</h1></div>
            <div class="panel-body">
              We promise we will do a better job next time!
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid ng-cloak hidden-sm hidden-xs">
      <div class="row">
        <div class="col-md-5 col-md-offset-1">
          <h1>Sprancher's Dreamhack challenge</h1>
          <form ng-submit="stop($event)">
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group" id="startElement">
                  <label>Profession (<span ng-bind="correctForm.professions[0].text"></span>)</label>
                  <tags-input ng-model="form.professions" placeholder="Sith Lord" replace-spaces-with-dashes="false">
                    <auto-complete source="loadProfessions($query)" min-length="1"></auto-complete>
                  </tags-input>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label>Location (<span ng-bind="correctForm.cities[0].text"></span>)</label>
                  <tags-input ng-model="form.cities" placeholder="Death Star" replace-spaces-with-dashes="false">
                    <auto-complete source="loadCities($query)" min-length="1"></auto-complete>
                  </tags-input>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="first_name">First name (<span ng-bind="correctForm.first_name"></span>)</label>
                  <input type="text" class="form-control" ng-model="form.first_name" id="first_name" placeholder="Darth">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="last_name">Last name  (<span ng-bind="correctForm.last_name"></span>)</label>
                  <input type="text" class="form-control" ng-model="form.last_name" id="last_name" placeholder="Vader">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="email">Email  (<span ng-bind="correctForm.email"></span>)</label>
                  <input type="text" class="form-control" ng-model="form.email" id="email" placeholder="darth.vader@gmail.com">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <button type="submit" class="btn btn-primary btn-lg btn-block">Register (stop timer)</button>
              </div>
              <div class="col-sm-6 timer text-center">
                <span ng-bind="time_ms() | number:2"></span> s
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div id="overlay" ng-show="stopped" class="ng-cloak hidden-sm hidden-xs">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-1 col-xs-2 col-sm-1">
            <img class="img-responsive" src="{% static 'Sprancher.jpg' %}" />
          </div>
          <div class="col-md-8 col-md-offset-1 col-xs-12 col-sm-12">
            <div ng-switch="page">

              <div ng-switch-when="results" class="text-center">
                <h1><span class="glyphicon glyphicon-star"></span> <span ng-bind="scorePlace()"></span> place <span class="glyphicon glyphicon-star"></span></h1>
                <h2>
                  Welcome to the Dark Side<br/>
                  The force is strong within you
                </h2>
                <h2>Your score: <span ng-bind="time_ms() | number:2"></span></h2>
                <form method="post" action="{% url 'register' %}">
                  {% csrf_token %}
                  <input type="hidden" name="time_ms" />
                  <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                      <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name" name="name" placeholder="Your name">
                      </div>
                      <div class="form-group">
                        <label for="email">Phone</label>
                        <input type="text" class="form-control" id="phone" name="phone" placeholder="Your phone">
                      </div>
                      <div class="form-group">
                        <label for="email">Email</label>
                        <input type="text" class="form-control" id="email" name="email" placeholder="Your email">
                      </div>
                      <button type="submit" class="btn btn-primary btn-lg btn-block">Register score</button>
                    </div>
                  </div>
                </form>
              </div>

              <div ng-switch-when="errors">
                <div class="row">
                  <div class="col-md-6">
                    <h1>Mistakes were made</h1>
                    <h3>
                      <span class="label label-danger">
                        You did not fill in the details correctly :(
                      </span>
                    </h3>
                  </div>
                  <div class="col-md-6">
                    <div class="panel panel-default">
                      <div class="panel-body">
                        <h2>Times to beat</h2>
                        <ol>
                          <li ng-repeat="score in top5">
                            <span class="glyphicon glyphicon-star"></span>
                            <b><span ng-bind="score.name"></span></b>
                            <span ng-bind="score.score | number:2"></span> s
                            <span class="glyphicon glyphicon-star"></span>
                          </li>
                        </ol>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <p>
                      Press enter to continue
                    </p>
                    <form ng-submit="start($event)" class="text-center">
                      <button type="submit" class="btn btn-primary btn-lg" id="tryAgainButton">Try again</button>
                    </form>
                  </div>
                </div>
              </div>

              <div ng-switch-when="notGoodEnough">
                <div class="row">
                  <div class="col-md-6">
                    <h1>You are not worthy of the dark side</h1>
                    <h2>Your score: <span ng-bind="time_ms() | number:2"></span></h2>
                    <h3>
                      <span class="label label-warning">Too slow!!</span>
                    </h3>
                  </div>
                  <div class="col-md-6">
                    <div class="panel panel-default">
                      <div class="panel-body">
                        <h2>Times to beat</h2>
                        <ol>
                          <li ng-repeat="score in top5">
                            <span class="glyphicon glyphicon-star"></span>
                            <b><span ng-bind="score.name"></span></b>
                            <span ng-bind="score.score | number:2"></span> s
                            <span class="glyphicon glyphicon-star"></span>
                          </li>
                        </ol>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <p>
                      Press enter to continue
                    </p>
                    <form ng-submit="start($event)" class="text-center">
                      <button type="submit" class="btn btn-primary btn-lg" id="tryAgainButton2">Try again</button>
                    </form>
                  </div>
                </div>
              </div>

              <div ng-switch-default>
                <div class="row">
                  <div class="col-md-6">
                    <h1>Ready to beat the challenge?</h1>
                    <div class="panel panel-default">
                      <div class="panel-body">
                        <h2>Rules</h2>
                        <p>Apply with following details:</p>
                        <dl class="dl-horizontal">
                          <dt>Profession</dt>
                          <dd ng-bind="correctForm.professions[0].text"></dd>
                          <dt>Location</dt>
                          <dd ng-bind="correctForm.cities[0].text"></dd>
                          <dt>First name</dt>
                          <dd ng-bind="correctForm.first_name"></dd>
                          <dt>Last name</dt>
                          <dd ng-bind="correctForm.last_name"></dd>
                          <dt>Email</dt>
                          <dd ng-bind="correctForm.email"></dd>
                        </dl>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="panel panel-default">
                      <div class="panel-body">
                        <h2>Times to beat</h2>
                        <ol>
                          <li ng-repeat="score in top5">
                            <span class="glyphicon glyphicon-star"></span>
                            <b><span ng-bind="score.name"></span></b>
                            <span ng-bind="score.score | number:2"></span> s
                            <span class="glyphicon glyphicon-star"></span>
                          </li>
                        </ol>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <p>
                      Press enter to continue
                    </p>
                    <form ng-submit="start($event)" class="text-center">
                      <button type="submit" class="btn btn-primary btn-lg" id="startButton">Start</button>
                    </form>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="{% static 'jquery-2.1.4.min.js' %}"></script>
    <script src="{% static 'bootstrap-3.3.5-dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'angular.js' %}"></script>
    <script src="{% static 'ng-tags-input/ng-tags-input.min.js' %}"></script>
    <script type="text/javascript">
      var top5 = {{ top5|safe }};
    </script>
    <script src="{% static 'dreamhack.js' %}"></script>
  </body>
</html>
